.elements__button-more {
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  color: white;
  cursor: pointer;
  border: none;
  background-color: #2f2f2f;
  width: 320px;
  height: 36px;
  padding: 0;
  display: block;
  margin: 80px auto;
}

@media screen and (max-width: 400px) {
  .elements__button-more {
    width: 240px;
  }
}
